In [1]:
import pandas as pd

data = pd.read_excel('./effiandshifts.xlsx', usecols=['dp_schedule', 'dp_period', 'staff_effi_standard', 'staff_effi_full',
       'staff_num', 'day', 'begin_tm', 'end_tm', 'y'])
data

,dp_schedule,dp_period,staff_effi_standard,staff_effi_full,staff_num,day,begin_tm,end_tm,y
0,D1,0600-0830,300,350,10,2022-11-01,600,830,1020
1,D1,0600-0830,300,350,10,2022-11-02,600,830,837
2,D1,0600-0830,300,350,10,2022-11-03,600,830,1128
3,D1,0600-0830,300,350,10,2022-11-04,600,830,1086
4,D1,0600-0830,300,350,10,2022-11-05,600,830,809
...,...,...,...,...,...,...,...,...,...
205,P3,2100-2355,300,350,10,2022-11-26,2100,2355,2334
206,P3,2100-2355,300,350,10,2022-11-27,2100,2355,1652
207,P3,2100-2355,300,350,10,2022-11-28,2100,2355,1677
208,P3,2100-2355,300,350,10,2022-11-29,2100,2355,2273
209,P3,2100-2355,300,350,10,2022-11-30,2100,2355,2475

In [4]:
data.columns

Index(['dp_schedule', 'dp_period', 'staff_effi_standard', 'staff_effi_full',
       'staff_num', 'day', 'begin_tm', 'end_tm', 'y'],
      dtype='object')

In [5]:
data.sort_values(by='day')

,dp_schedule,dp_period,staff_effi_standard,staff_effi_full,staff_num,day,begin_tm,end_tm,y
0,D1,0600-0830,300,350,10,2022-11-01,600,830,1020
180,P3,2100-2355,300,350,10,2022-11-01,2100,2355,2352
30,D2,1030-1245,300,350,10,2022-11-01,1030,1245,879
150,P2,1500-1600,300,350,10,2022-11-01,1500,1600,1761
60,D3,1400-1530,300,350,10,2022-11-01,1400,1530,947
...,...,...,...,...,...,...,...,...,...
89,D3,1400-1530,300,350,10,2022-11-30,1400,1530,525
149,P1,0900-1100,300,350,10,2022-11-30,900,1100,520
59,D2,1030-1245,300,350,10,2022-11-30,1030,1245,818
119,D4,1730-1900,300,350,10,2022-11-30,1730,1900,525
209,P3,2100-2355,300,350,10,2022-11-30,2100,2355,2475

In [14]:
for day, i in data.groupby(by='day', sort=True):
    print(str(day) + ':')
    print(type(i))
    print(i)

2022-11-01 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
0            D1  0600-0830                  300              350         10
30           D2  1030-1245                  300              350         10
60           D3  1400-1530                  300              350         10
90           D4  1730-1900                  300              350         10
120          P1  0900-1100                  300              350         10
150          P2  1500-1600                  300              350         10
180          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
0   2022-11-01       600     830  1020
30  2022-11-01      1030    1245   879
60  2022-11-01      1400    1530   947
90  2022-11-01      1730    1900   947
120 2022-11-01       900    1100   934
150 2022-11-01      1500    1600  1761
180 2022-11-01      2100    2355  2352
2022-11-02 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
1            D1  0600-0830                  300              350         10
31           D2  1030-1245                  300              350         10
61           D3  1400-1530                  300              350         10
91           D4  1730-1900                  300              350         10
121          P1  0900-1100                  300              350         10
151          P2  1500-1600                  300              350         10
181          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
1   2022-11-02       600     830   837
31  2022-11-02      1030    1245   914
61  2022-11-02      1400    1530   872
91  2022-11-02      1730    1900   872
121 2022-11-02       900    1100   990
151 2022-11-02      1500    1600  1383
181 2022-11-02      2100    2355  1950
2022-11-03 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
2            D1  0600-0830                  300              350         10
32           D2  1030-1245                  300              350         10
62           D3  1400-1530                  300              350         10
92           D4  1730-1900                  300              350         10
122          P1  0900-1100                  300              350         10
152          P2  1500-1600                  300              350         10
182          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
2   2022-11-03       600     830  1128
32  2022-11-03      1030    1245   738
62  2022-11-03      1400    1530   679
92  2022-11-03      1730    1900   679
122 2022-11-03       900    1100   811
152 2022-11-03      1500    1600  1628
182 2022-11-03      2100    2355  2413
2022-11-04 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
3            D1  0600-0830                  300              350         10
33           D2  1030-1245                  300              350         10
63           D3  1400-1530                  300              350         10
93           D4  1730-1900                  300              350         10
123          P1  0900-1100                  300              350         10
153          P2  1500-1600                  300              350         10
183          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
3   2022-11-04       600     830  1086
33  2022-11-04      1030    1245   741
63  2022-11-04      1400    1530   847
93  2022-11-04      1730    1900   847
123 2022-11-04       900    1100   828
153 2022-11-04      1500    1600  1026
183 2022-11-04      2100    2355  2107
2022-11-05 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
4            D1  0600-0830                  300              350         10
34           D2  1030-1245                  300              350         10
64           D3  1400-1530                  300              350         10
94           D4  1730-1900                  300              350         10
124          P1  0900-1100                  300              350         10
154          P2  1500-1600                  300              350         10
184          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
4   2022-11-05       600     830   809
34  2022-11-05      1030    1245  1062
64  2022-11-05      1400    1530   745
94  2022-11-05      1730    1900   745
124 2022-11-05       900    1100   800
154 2022-11-05      1500    1600  1281
184 2022-11-05      2100    2355  1578
2022-11-06 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
5            D1  0600-0830                  300              350         10
35           D2  1030-1245                  300              350         10
65           D3  1400-1530                  300              350         10
95           D4  1730-1900                  300              350         10
125          P1  0900-1100                  300              350         10
155          P2  1500-1600                  300              350         10
185          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
5   2022-11-06       600     830  1100
35  2022-11-06      1030    1245   747
65  2022-11-06      1400    1530   526
95  2022-11-06      1730    1900   526
125 2022-11-06       900    1100   766
155 2022-11-06      1500    1600  1138
185 2022-11-06      2100    2355  2442
2022-11-07 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
6            D1  0600-0830                  300              350         10
36           D2  1030-1245                  300              350         10
66           D3  1400-1530                  300              350         10
96           D4  1730-1900                  300              350         10
126          P1  0900-1100                  300              350         10
156          P2  1500-1600                  300              350         10
186          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
6   2022-11-07       600     830   915
36  2022-11-07      1030    1245   517
66  2022-11-07      1400    1530   734
96  2022-11-07      1730    1900   734
126 2022-11-07       900    1100   805
156 2022-11-07      1500    1600  1357
186 2022-11-07      2100    2355  2289
2022-11-08 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
7            D1  0600-0830                  300              350         10
37           D2  1030-1245                  300              350         10
67           D3  1400-1530                  300              350         10
97           D4  1730-1900                  300              350         10
127          P1  0900-1100                  300              350         10
157          P2  1500-1600                  300              350         10
187          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
7   2022-11-08       600     830  1205
37  2022-11-08      1030    1245   927
67  2022-11-08      1400    1530   628
97  2022-11-08      1730    1900   628
127 2022-11-08       900    1100   571
157 2022-11-08      1500    1600  1520
187 2022-11-08      2100    2355  1532
2022-11-09 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
8            D1  0600-0830                  300              350         10
38           D2  1030-1245                  300              350         10
68           D3  1400-1530                  300              350         10
98           D4  1730-1900                  300              350         10
128          P1  0900-1100                  300              350         10
158          P2  1500-1600                  300              350         10
188          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
8   2022-11-09       600     830  1020
38  2022-11-09      1030    1245   811
68  2022-11-09      1400    1530   754
98  2022-11-09      1730    1900   754
128 2022-11-09       900    1100   589
158 2022-11-09      1500    1600  1221
188 2022-11-09      2100    2355  2082
2022-11-10 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
9            D1  0600-0830                  300              350         10
39           D2  1030-1245                  300              350         10
69           D3  1400-1530                  300              350         10
99           D4  1730-1900                  300              350         10
129          P1  0900-1100                  300              350         10
159          P2  1500-1600                  300              350         10
189          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
9   2022-11-10       600     830  1160
39  2022-11-10      1030    1245   895
69  2022-11-10      1400    1530   799
99  2022-11-10      1730    1900   799
129 2022-11-10       900    1100   672
159 2022-11-10      1500    1600  1032
189 2022-11-10      2100    2355  2144
2022-11-11 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
10           D1  0600-0830                  300              350         10
40           D2  1030-1245                  300              350         10
70           D3  1400-1530                  300              350         10
100          D4  1730-1900                  300              350         10
130          P1  0900-1100                  300              350         10
160          P2  1500-1600                  300              350         10
190          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
10  2022-11-11       600     830   947
40  2022-11-11      1030    1245   606
70  2022-11-11      1400    1530   543
100 2022-11-11      1730    1900   543
130 2022-11-11       900    1100   711
160 2022-11-11      1500    1600  1313
190 2022-11-11      2100    2355  2139
2022-11-12 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
11           D1  0600-0830                  300              350         10
41           D2  1030-1245                  300              350         10
71           D3  1400-1530                  300              350         10
101          D4  1730-1900                  300              350         10
131          P1  0900-1100                  300              350         10
161          P2  1500-1600                  300              350         10
191          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
11  2022-11-12       600     830  1153
41  2022-11-12      1030    1245   708
71  2022-11-12      1400    1530   891
101 2022-11-12      1730    1900   891
131 2022-11-12       900    1100   868
161 2022-11-12      1500    1600  1508
191 2022-11-12      2100    2355  2178
2022-11-13 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
12           D1  0600-0830                  300              350         10
42           D2  1030-1245                  300              350         10
72           D3  1400-1530                  300              350         10
102          D4  1730-1900                  300              350         10
132          P1  0900-1100                  300              350         10
162          P2  1500-1600                  300              350         10
192          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
12  2022-11-13       600     830  1076
42  2022-11-13      1030    1245   697
72  2022-11-13      1400    1530   631
102 2022-11-13      1730    1900   631
132 2022-11-13       900    1100   939
162 2022-11-13      1500    1600  1111
192 2022-11-13      2100    2355  1894
2022-11-14 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
13           D1  0600-0830                  300              350         10
43           D2  1030-1245                  300              350         10
73           D3  1400-1530                  300              350         10
103          D4  1730-1900                  300              350         10
133          P1  0900-1100                  300              350         10
163          P2  1500-1600                  300              350         10
193          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
13  2022-11-14       600     830  1028
43  2022-11-14      1030    1245   757
73  2022-11-14      1400    1530   825
103 2022-11-14      1730    1900   825
133 2022-11-14       900    1100   899
163 2022-11-14      1500    1600  1146
193 2022-11-14      2100    2355  2336
2022-11-15 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
14           D1  0600-0830                  300              350         10
44           D2  1030-1245                  300              350         10
74           D3  1400-1530                  300              350         10
104          D4  1730-1900                  300              350         10
134          P1  0900-1100                  300              350         10
164          P2  1500-1600                  300              350         10
194          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
14  2022-11-15       600     830   958
44  2022-11-15      1030    1245   654
74  2022-11-15      1400    1530   861
104 2022-11-15      1730    1900   861
134 2022-11-15       900    1100   661
164 2022-11-15      1500    1600  1455
194 2022-11-15      2100    2355  1617
2022-11-16 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
15           D1  0600-0830                  300              350         10
45           D2  1030-1245                  300              350         10
75           D3  1400-1530                  300              350         10
105          D4  1730-1900                  300              350         10
135          P1  0900-1100                  300              350         10
165          P2  1500-1600                  300              350         10
195          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
15  2022-11-16       600     830   964
45  2022-11-16      1030    1245   867
75  2022-11-16      1400    1530   521
105 2022-11-16      1730    1900   521
135 2022-11-16       900    1100   676
165 2022-11-16      1500    1600  1310
195 2022-11-16      2100    2355  2104
2022-11-17 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
16           D1  0600-0830                  300              350         10
46           D2  1030-1245                  300              350         10
76           D3  1400-1530                  300              350         10
106          D4  1730-1900                  300              350         10
136          P1  0900-1100                  300              350         10
166          P2  1500-1600                  300              350         10
196          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
16  2022-11-17       600     830   765
46  2022-11-17      1030    1245   535
76  2022-11-17      1400    1530  1041
106 2022-11-17      1730    1900  1041
136 2022-11-17       900    1100   563
166 2022-11-17      1500    1600  1397
196 2022-11-17      2100    2355  1773
2022-11-18 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
17           D1  0600-0830                  300              350         10
47           D2  1030-1245                  300              350         10
77           D3  1400-1530                  300              350         10
107          D4  1730-1900                  300              350         10
137          P1  0900-1100                  300              350         10
167          P2  1500-1600                  300              350         10
197          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
17  2022-11-18       600     830  1059
47  2022-11-18      1030    1245   850
77  2022-11-18      1400    1530   663
107 2022-11-18      1730    1900   663
137 2022-11-18       900    1100   978
167 2022-11-18      1500    1600  1097
197 2022-11-18      2100    2355  2234
2022-11-19 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
18           D1  0600-0830                  300              350         10
48           D2  1030-1245                  300              350         10
78           D3  1400-1530                  300              350         10
108          D4  1730-1900                  300              350         10
138          P1  0900-1100                  300              350         10
168          P2  1500-1600                  300              350         10
198          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
18  2022-11-19       600     830   952
48  2022-11-19      1030    1245   983
78  2022-11-19      1400    1530   704
108 2022-11-19      1730    1900   704
138 2022-11-19       900    1100   788
168 2022-11-19      1500    1600  1674
198 2022-11-19      2100    2355  1504
2022-11-20 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
19           D1  0600-0830                  300              350         10
49           D2  1030-1245                  300              350         10
79           D3  1400-1530                  300              350         10
109          D4  1730-1900                  300              350         10
139          P1  0900-1100                  300              350         10
169          P2  1500-1600                  300              350         10
199          P3  2100-2355                  300              350         10

           day  begin_tm  end_tm     y
19  2022-11-20       600     830  1033
49  2022-11-20      1030    1245   616
79  2022-11-20      1400    1530   975
109 2022-11-20      1730    1900   975
139 2022-11-20       900    1100   624
169 2022-11-20      1500    1600  1515
199 2022-11-20      2100    2355  1946
2022-11-21 00:00:00:
<class 'pandas.core.frame.DataFrame'>
    dp_schedule  dp_period  staff_effi_standard  staff_effi_full  staff_num  \
20           D1  0600-0830                  300              350         10
50           D2  1030-1245                  300              350         10

In [22]:
for _ in data[['begin_tm', 'end_tm']].values:
    print(_.tolist())
    print(type(_))
    break

[600, 830]
<class 'numpy.ndarray'>