In [6]:
import os
import pandas as pd
from data import source_dir, CITY, source_dir_wsl

In [7]:
files = os.listdir(source_dir_wsl)
types = [file_name.rsplit('.')[0] for file_name in files]
files, types

(['Dialysis_Centers.csv',
  'Hospitals.csv',
  'Nursing_Homes.csv',
  'Pharmacies_.csv',
  'Public_Health_Departments.csv',
  'SAN FRANCISCO.csv',
  'Urgent_Care_Facilities.csv',
  'Veterans_Health_Administration_Medical_Facilities.csv'],
 ['Dialysis_Centers',
  'Hospitals',
  'Nursing_Homes',
  'Pharmacies_',
  'Public_Health_Departments',
  'SAN FRANCISCO',
  'Urgent_Care_Facilities',
  'Veterans_Health_Administration_Medical_Facilities'])

In [8]:
tables = {file: pd.read_csv(source_dir_wsl + file) for file in files}

/tmp/ipykernel_2150/3611572142.py:1: DtypeWarning: Columns (33,34,42) have mixed types. Specify dtype option on import or set low_memory=False.
  tables = {file: pd.read_csv(source_dir_wsl + file) for file in files}

In [9]:
_1 = tables['Dialysis_Centers.csv']
__1 = _1[_1['City'] == CITY].loc[:, ['CalcLoca_1', 'CalcLoca_2', 'Type_', 'City']]
__1.columns = ['X', 'Y', 'TYPE', 'CITY']
__1

               X          Y             TYPE           CITY
328  -122.390154  37.766473  Dialysis Center  SAN FRANCISCO
6298 -122.459289  37.781839  Dialysis Center  SAN FRANCISCO
6302 -122.504847  37.781538  Dialysis Center  SAN FRANCISCO
6332 -122.452290  37.769560  Dialysis Center  SAN FRANCISCO
6480 -122.432009  37.783893  Dialysis Center  SAN FRANCISCO
6492 -122.460641  37.725357  Dialysis Center  SAN FRANCISCO
6526 -122.403864  37.794793  Dialysis Center  SAN FRANCISCO
6559 -122.405667  37.756158  Dialysis Center  SAN FRANCISCO
6622 -122.438279  37.785207  Dialysis Center  SAN FRANCISCO
6867 -122.420986  37.786944  Dialysis Center  SAN FRANCISCO
6925 -122.431621  37.790908  Dialysis Center  SAN FRANCISCO
6928 -122.434595  37.768239  Dialysis Center  SAN FRANCISCO
7011 -122.431491  37.783935  Dialysis Center  SAN FRANCISCO
7057 -122.423064  37.790479  Dialysis Center  SAN FRANCISCO
7097 -122.407856  37.761668  Dialysis Center  SAN FRANCISCO
7100 -122.448390  37.782646  Dialysis Center  SAN FRANCISCO

In [10]:
_2 = tables['Hospitals.csv']
__2 = _2[_2['CITY'] == CITY].loc[:, ['X', 'Y', 'TYPE', 'CITY']]
__2

               X          Y                TYPE           CITY
669  -122.409169  37.795488  GENERAL ACUTE CARE  SAN FRANCISCO
671  -122.443253  37.782284  GENERAL ACUTE CARE  SAN FRANCISCO
674  -122.425873  37.774364  GENERAL ACUTE CARE  SAN FRANCISCO
675  -122.439147  37.784920  GENERAL ACUTE CARE  SAN FRANCISCO
677  -122.420768  37.747718  GENERAL ACUTE CARE  SAN FRANCISCO
678  -122.405762  37.756576  GENERAL ACUTE CARE  SAN FRANCISCO
679  -122.422250  37.785829  GENERAL ACUTE CARE  SAN FRANCISCO
680  -122.434360  37.768886  GENERAL ACUTE CARE  SAN FRANCISCO
684  -122.456896  37.749322  GENERAL ACUTE CARE  SAN FRANCISCO
685  -122.453752  37.774089  GENERAL ACUTE CARE  SAN FRANCISCO
686  -122.457877  37.763077  GENERAL ACUTE CARE  SAN FRANCISCO
687  -122.456851  37.763472         PSYCHIATRIC  SAN FRANCISCO
688  -122.453889  37.774075         PSYCHIATRIC  SAN FRANCISCO
689  -122.416729  37.789380         PSYCHIATRIC  SAN FRANCISCO
690  -122.431512  37.789940         PSYCHIATRIC  SAN FRANCISCO
693  -122.430891  37.727774         PSYCHIATRIC  SAN FRANCISCO
694  -122.404740  37.755724         PSYCHIATRIC  SAN FRANCISCO
695  -122.434800  37.768556         PSYCHIATRIC  SAN FRANCISCO
784  -122.457821  37.763118  GENERAL ACUTE CARE  SAN FRANCISCO
789  -122.431306  37.790854  GENERAL ACUTE CARE  SAN FRANCISCO
808  -122.390070  37.765480  GENERAL ACUTE CARE  SAN FRANCISCO
813  -122.454030  37.774039      LONG TERM CARE  SAN FRANCISCO
6488 -122.504975  37.782291            MILITARY  SAN FRANCISCO
7111 -122.456031  37.786509  GENERAL ACUTE CARE  SAN FRANCISCO
7112 -122.431295  37.790705  GENERAL ACUTE CARE  SAN FRANCISCO
7365 -122.454692  37.786660  GENERAL ACUTE CARE  SAN FRANCISCO

In [11]:
_3 = tables['Nursing_Homes.csv']
__3 = _3[_3['CITY'] == CITY].loc[:, ['X', 'Y', 'TYPE', 'CITY']]
__3

                X          Y             TYPE           CITY
3926  -122.425959  37.786357  ASSISTED LIVING  SAN FRANCISCO
3934  -122.427275  37.785543     NURSING HOME  SAN FRANCISCO
3990  -122.430901  37.727919     NURSING HOME  SAN FRANCISCO
4069  -122.440813  37.775394     NURSING HOME  SAN FRANCISCO
4073  -122.416179  37.755092     NURSING HOME  SAN FRANCISCO
4144  -122.476464  37.749645     NURSING HOME  SAN FRANCISCO
4216  -122.485630  37.762391  ASSISTED LIVING  SAN FRANCISCO
4233  -122.437123  37.775328     NURSING HOME  SAN FRANCISCO
4238  -122.457014  37.749263     NURSING HOME  SAN FRANCISCO
4287  -122.440602  37.766516  ASSISTED LIVING  SAN FRANCISCO
4553  -122.490592  37.783012  ASSISTED LIVING  SAN FRANCISCO
4671  -122.426252  37.777090  ASSISTED LIVING  SAN FRANCISCO
4692  -122.437882  37.771406  ASSISTED LIVING  SAN FRANCISCO
4706  -122.434668  37.768524     NURSING HOME  SAN FRANCISCO
4758  -122.428616  37.782593     NURSING HOME  SAN FRANCISCO
4765  -122.440565  37.786920     NURSING HOME  SAN FRANCISCO
4774  -122.448751  37.782572  ASSISTED LIVING  SAN FRANCISCO
4782  -122.426553  37.776721  ASSISTED LIVING  SAN FRANCISCO
4798  -122.428189  37.787498  ASSISTED LIVING  SAN FRANCISCO
4817  -122.499338  37.777193  ASSISTED LIVING  SAN FRANCISCO
4904  -122.439739  37.788403     NURSING HOME  SAN FRANCISCO
5015  -122.449024  37.709726  ASSISTED LIVING  SAN FRANCISCO
5017  -122.407086  37.749438  ASSISTED LIVING  SAN FRANCISCO
5049  -122.464068  37.758975     NURSING HOME  SAN FRANCISCO
5095  -122.443867  37.783030  ASSISTED LIVING  SAN FRANCISCO
5142  -122.431256  37.802991     NURSING HOME  SAN FRANCISCO
5163  -122.409029  37.751601  ASSISTED LIVING  SAN FRANCISCO
5232  -122.426025  37.787523  ASSISTED LIVING  SAN FRANCISCO
5243  -122.462197  37.763064  ASSISTED LIVING  SAN FRANCISCO
5325  -122.467500  37.738421  ASSISTED LIVING  SAN FRANCISCO
5373  -122.406211  37.758496  ASSISTED LIVING  SAN FRANCISCO
5380  -122.477442  37.757193  ASSISTED LIVING  SAN FRANCISCO
5447  -122.437640  37.784883  ASSISTED LIVING  SAN FRANCISCO
5455  -122.426385  37.786732  ASSISTED LIVING  SAN FRANCISCO
5519  -122.461173  37.712903  ASSISTED LIVING  SAN FRANCISCO
5603  -122.431080  37.788062     NURSING HOME  SAN FRANCISCO
5608  -122.498477  37.773674  ASSISTED LIVING  SAN FRANCISCO
5621  -122.423125  37.789139     NURSING HOME  SAN FRANCISCO
5638  -122.405752  37.730651  ASSISTED LIVING  SAN FRANCISCO
5649  -122.461098  37.712903  ASSISTED LIVING  SAN FRANCISCO
5822  -122.472073  37.712255  ASSISTED LIVING  SAN FRANCISCO
5860  -122.462528  37.787677  ASSISTED LIVING  SAN FRANCISCO
5866  -122.435832  37.778378  ASSISTED LIVING  SAN FRANCISCO
5872  -122.427330  37.777291  ASSISTED LIVING  SAN FRANCISCO
5893  -122.425949  37.777310  ASSISTED LIVING  SAN FRANCISCO
5931  -122.423699  37.749060  ASSISTED LIVING  SAN FRANCISCO
5989  -122.421811  37.785343  ASSISTED LIVING  SAN FRANCISCO
6005  -122.499540  37.777090  ASSISTED LIVING  SAN FRANCISCO
6063  -122.491093  37.744695  ASSISTED LIVING  SAN FRANCISCO
6066  -122.405764  37.755576     NURSING HOME  SAN FRANCISCO
6185  -122.449528  37.709589     NURSING HOME  SAN FRANCISCO
6242  -122.422889  37.789175     NURSING HOME  SAN FRANCISCO
6311  -122.418248  37.789683     NURSING HOME  SAN FRANCISCO
40640 -122.423479  37.726294  ASSISTED LIVING  SAN FRANCISCO
40805 -122.463741  37.761597  ASSISTED LIVING  SAN FRANCISCO
44358 -122.423433  37.726052  ASSISTED LIVING  SAN FRANCISCO
44359 -122.423300  37.726056  ASSISTED LIVING  SAN FRANCISCO

In [12]:
_4 = tables['Pharmacies_.csv']
_4['TYPE'] = 'Pharmacies'
__4 = _4[_4['CITY'] == CITY].loc[:, ['X', 'Y', 'TYPE', 'CITY']]
__4

               X          Y        TYPE           CITY
426  -122.405655  37.712156  Pharmacies  SAN FRANCISCO
453  -122.393216  37.728900  Pharmacies  SAN FRANCISCO
467  -122.400583  37.791345  Pharmacies  SAN FRANCISCO
468  -122.503551  37.779440  Pharmacies  SAN FRANCISCO
470  -122.418899  37.789139  Pharmacies  SAN FRANCISCO
...          ...        ...         ...            ...
2285 -122.418382  37.748396  Pharmacies  SAN FRANCISCO
2289 -122.414018  37.784994  Pharmacies  SAN FRANCISCO
2292 -122.404437  37.755496  Pharmacies  SAN FRANCISCO
2293 -122.443235  37.782300  Pharmacies  SAN FRANCISCO
2295 -122.479456  37.754302  Pharmacies  SAN FRANCISCO

[128 rows x 4 columns]

In [13]:
_5 = tables['Public_Health_Departments.csv']
_5['TYPE'] = 'Public_Health_Departments'
__5 = _5[_5['CITY'] == CITY].loc[:, ['X', 'Y', 'TYPE', 'CITY']]
__5

              X          Y                       TYPE           CITY
365 -122.418656  37.778079  Public_Health_Departments  SAN FRANCISCO

In [14]:
_6 = tables['Urgent_Care_Facilities.csv']
_6['TYPE'] = 'Urgent_Care_Facilities'
__6 = _6[_6['CITY'] == CITY].loc[:, ['X', 'Y', 'TYPE', 'CITY']]
__6

              X          Y                    TYPE           CITY
60  -122.389208  37.760655  Urgent_Care_Facilities  SAN FRANCISCO
305 -122.398187  37.766074  Urgent_Care_Facilities  SAN FRANCISCO
520 -122.409875  37.788299  Urgent_Care_Facilities  SAN FRANCISCO
656 -122.402474  37.790509  Urgent_Care_Facilities  SAN FRANCISCO
733 -122.424640  37.768090  Urgent_Care_Facilities  SAN FRANCISCO

In [15]:
_7 = tables['Veterans_Health_Administration_Medical_Facilities.csv']
_7['TYPE'] = 'Veterans_Health_Administration_Medical_Facilities'
__7 = _7[_7['CITY'] == CITY].loc[:, ['LONGITUDE', 'LATITUDE', 'TYPE', 'CITY']]
__7.columns = ['X', 'Y', 'TYPE', 'CITY']
__7

,X,Y,TYPE,CITY
85,-122.419090,37.781426,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO
385,-122.504980,37.782290,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO
1012,-122.396852,37.782545,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO

In [16]:
table =pd.concat([__1, __2, __3, __4, __5, __6, __7])
table

,X,Y,TYPE,CITY
328,-122.390154,37.766473,Dialysis Center,SAN FRANCISCO
6298,-122.459289,37.781839,Dialysis Center,SAN FRANCISCO
6302,-122.504847,37.781538,Dialysis Center,SAN FRANCISCO
6332,-122.452290,37.769560,Dialysis Center,SAN FRANCISCO
6480,-122.432009,37.783893,Dialysis Center,SAN FRANCISCO
...,...,...,...,...
656,-122.402474,37.790509,Urgent_Care_Facilities,SAN FRANCISCO
733,-122.424640,37.768090,Urgent_Care_Facilities,SAN FRANCISCO
85,-122.419090,37.781426,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO
385,-122.504980,37.782290,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO
1012,-122.396852,37.782545,Veterans_Health_Administration_Medical_Facilities,SAN FRANCISCO

In [17]:
table['TYPE'].value_counts()

TYPE
Pharmacies                                           128
ASSISTED LIVING                                       38
NURSING HOME                                          19
GENERAL ACUTE CARE                                    17
Dialysis Center                                       16
PSYCHIATRIC                                            7
Urgent_Care_Facilities                                 5
Veterans_Health_Administration_Medical_Facilities      3
LONG TERM CARE                                         1
MILITARY                                               1
Public_Health_Departments                              1
Name: count, dtype: int64

In [18]:
table.to_csv(source_dir + f'{CITY}.csv', index=False)